@font-face {
    font-family: 'deftone_stylusregular';
    src: font_url('deftone-webfont.woff2') format('woff2'),
         font_url('deftone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}